@font-face {
    font-family: 'sc2'; /*a name to be used later*/
    src: url('https://zenvent.github.io/sc2/Starcraft.ttf'); /*URL to font*/
}

body {
    background-color: #000D20;
    color: #0F68C8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    padding-top: 20px;
    color: #0F68C8;
    font-size: 30px;
    font-family: 'sc2';
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 140, 255, 0.05);
}

table, th, td {
    border-radius: 20px;
    border-spacing: 20px;
}

.unit {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    min-width: 100px;
}

.single-unit {
    color: #7AC2F0;
    /* border-bottom: 3px solid rgba(255, 255, 255, 0.5); */
}

.multiple-strength {
    border-bottom: 3px solid rgba(0, 255, 42, 0.5);
}

.multiple-weakness {
    border-bottom: 3px solid rgba(255, 0, 0, 0.5);
}

.strength img{
    height: 64px;
}

.weakness img{
    height: 64px;
}

.unit img {
    filter: drop-shadow(0px 0px 10px #0f68c879);
}

.caption {
    display: block;
}

.headers {
    border-radius: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-spacing: 0px;
    color: #7AC2F0;
    font-family: 'sc2';
}

.logo {
    padding: 30px;
    height: 64px;
    transition: transform .2s;
}

.logo-active {
    padding: 30px;
    transform: scale(1.5);
    filter: drop-shadow(0px 0px 10px #7ac3f0bb);
}

.logo:hover {
    transform: scale(1.5);
    filter: drop-shadow(0px 0px 10px #7ac3f0bb);
}

.logo-contianer {
    padding-top: 0px;
}